# Credenciais iniciais de login
AUTH_USERNAME=jephesson
AUTH_PASSWORD=ufpb2010

# Troque por um segredo forte em produção
AUTH_SECRET=troque-este-segredo-em-producao

# Exemplo para próxima etapa com Neon
# DATABASE_URL=postgresql://usuario:senha@host/database?sslmode=require
